*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
body{
    background: url(/HTML/Book/BG1.webp);
    height: 100vh;
}
.container{
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    background-color: rgba(0, 0, 0, 0.566);
    transition: 1s ease;
}
#navbar{
    background-color: rgba(0, 0, 0, 0.445);
    backdrop-filter: blur(10px);
    height: 70px;
    transition: 1s ease;
    padding-left: 100px;
}
.container-fluid i{
    margin-left: -70px;
}
#navbar a{
    color: white;
    text-shadow: 3px 3px 3px #4bcbf2; 
}
#navbar img{
    margin-bottom: 10px;
}
#navbar .navbar-nav{
    margin-left: 40px;
}
#navbar .nav-item:hover{
    background-color: black;
    border-radius: 5px;
    transform: scale(1.2);
}
.nav-item{
    margin-left: 20px;
    transition: 0.5s;
}
#navbar form{
    margin-left: 300px;
}
.box{
    width: 100%;
    height: 500px;
    color: #06a0cf;
    text-shadow: 1px 1px 1px white;
    display: flex;
    justify-content: space-evenly;
}
.left{
    width: 50%;
    height: 100%;
    background-color: transparent;
    padding-left: 20px;
    padding-top: 70px;
}
.icons{
    margin-top: 50px;
}
.container .icons i{
    margin-left: 20px;
    font-size: 20px;
    transition: 0.5s;
}
.container .icons i:hover{
    transform: scale(1.4);
}
.right{
    padding-left: 50px;
    width: 45%;
    height: 100%;
    /* background: transparent; */
    backdrop-filter: blur(10px);
}
.right h1{
    text-align: center;
}
.sign input{
    outline: none;
    background: transparent;
    width: 80%;
    height: 50px;
    padding-left: 20px;
}
.right .btn{
    display: flex;
    justify-content: center;
}
.btn button{
    margin-left: 20px;
}
.right .footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 575.98px) {
    body {
        height: 134vh;
    }
    #navbar{
        padding-left: -1px;
    }
    .box{
        height: 120vh;
        flex-direction: column;
    }
    .box .left{
        width: 100%;
        height: 105%;
        padding-top: 19px;
        margin-bottom: -470px;
    }
    .icons {
        margin-top: 26px;
        margin-left: -20px;
    }
    .right {
        padding-top: 0;
        padding-left: 16px;
        width: 98%;;
        margin-left: 5px;
    }
    #navbar #collapsibleNavbar .nav-item {
        background-color: black;
        margin-left: 20px;
        padding-left: 20px;
        width: 200px;
        border-radius: 5px;
    }
    #navbar form {
        margin-left: 60px;
    }
    .container-fluid i {
        margin-right: 80px;
    }
    .sign input {
        width: 90%;
    }
}